@font-face {
    font-family: 'Kiona';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Kiona-Regular.woff2") format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: "Jack";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/JasperDaniels.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
      U+FEFF, U+FFFD;
}

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #4a5da8;
    color: #fff;
    transition: all 0.3s;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}


table{
    width: 1070px;
    height: 150px;
    
}

table th{
    background-color: #7386D5;
    color: white;
    text-align: center;
}

table tr:nth-child(odd){
    background-color: rgb(218, 218, 218);
}

tr:hover td {
 background: #d0dafd; color: #339; 
}

form {
    width: 400px;
    font-weight: bolder;
}

form label {
    display: inline-block;
    width: 150px;
}

form input {
    display: inline-block;
    width: 200px;
    margin-bottom: 10px;
}

.btn_save{
    background-color: #6d7fcc;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    height: 40px;
    font-weight: bold;
}

.data_delete{
    text-align: center;
}

.data_delete h2{
    margin-top: 10px;
    font-size: 15pt;
    font-family: Kiona;
}

.data_delete span{
    font-weight: bold;
    color: rgb(60, 60, 240);
    font-size: 12pt;
}

.data_delete form{
    background-color: initial;
    margin: auto;
    padding: 20px 50px;
}
#verRoles{
    font-size: 15px;
    color: black;
    font-weight: bold;
}

#filtro{
    width: 660px;
}

fieldset{
    margin: 0px 0px 0px 23px;
}
